

a.button:visited {
	color:white;
}

a.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  width: initial;
  margin: 0.5em 0 0.5em 0;
}

a.button.start-button,
a.button.stop-button,
a.button.read-basic-button,
a.button.apply-basic-button {
  padding: 15px 25px;
  font-size: 4vw;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

a.button.connect-button {
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3.5vw;
  border-radius: 10px;
  box-shadow: 0 7px #999;
  margin-top:-3px;
  margin-right:-4px;
  color:white;
}

a.button.start-button:active,
a.button.stop-button:active,
a.button.read-basic-button:active,
a.button.apply-basic-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a.connect-button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}



a.button.start-button,
a.button.read-basic-button,
a.button.apply-basic-button {
  background-color: #4CAF50;
}
a.button.start-button:hover,
a.button.read-basic-button:hover,
a.button.apply-basic-button:hover {
	background-color: #3e8e41;
	color:white;
}
a.button.start-button:active,
a.button.read-basic-button:active,
a.button.apply-basic-button:active {
  background-color: #3e8e41;
}


a.button.stop-button {
  background-color: #b9b9b9;
}
a.button.stop-button:hover {
	background-color: #a9a9a9;
	color:white;
}
a.button.stop-button:active {
  background-color: #a9a9a9;
}


a.button.connect-button {
  background-color: #4CAF50;
}
a.button.connect-button:hover  {
	background-color: #3e8e41;
	color:white;
}
a.button.connect-button:active {
  background-color: #3e8e41;
}


@media	screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio : 2),
		screen and (orientation: landscape) and (min--moz-device-pixel-ratio: 2),
		screen and (orientation: landscape) and (min-device-pixel-ratio : 2) {
	body { font-size: 4.5vw; }
}



.signal-strength {
	font-size: 60%;
	overflow-
}
